
  <ul>
    <h1>Users(<%= User.count%>)</h1>
    <% @users.each do |user| %>
      <ul class="user"><%= link_to user.name, user, {class:'index_user'} %></ul>
        <li><%= link_to 'Edit', edit_user_path(user) %>
        <li><%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?'} %></li>
      </ul>
    <% end %>
  </ul>

<% unless @users.size > 0 %>
  <h1 style="text-align: center">No users created yet. Be the first user!</h1>
<% end %>

<%= link_to "Create new user", new_user_path, {id:'new-user'}%>
