

<h1>You are: <%= @user.name %> </h1>

<h1>Posts: (<%= @user.posts.count %>)</h1>




<ul>
  <% @user.posts.each do |post| %>
    <li><%= link_to post.post_title, user_post_path(@user,post) %></li> 
      <%= link_to 'Edit', edit_user_post_path(@user, post), {class:'inline edit'} %>
  <% end%>
</ul>
<%= link_to "Create new post", new_user_post_path(@user)%>

<%= link_to "<--Back", users_path, {class:'block'} %>