
<%= form_for @post do |form| %>

  <div class="field">
    <%= form.label :post_title %>
    <%= form.text_field :post_title %>
  </div>

  <div class="field">
    <%= form.label :post_body %>
    <%= form.text_area :post_body %>
  </div>

  <div class="field">
    <%= form.submit%>
  </div>

<% end %>